.DS_Store
WAFair.xcodeproj/project.xcworkspace/contents.xcworkspacedata
WAFair.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
WAFair.xcodeproj/project.xcworkspace/xcuserdata/l-156160579.xcuserdatad/UserInterfaceState.xcuserstate
WAFair.xcodeproj/xcshareddata/xcschemes/WAFair.xcscheme
WAFair.xcodeproj/xcshareddata/xcschemes/WAFairUITests.xcscheme
WAFair.xcodeproj/xcuserdata/l-156160579.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
WAFair.xcodeproj/xcuserdata/l-156160579.xcuserdatad/xcschemes/xcschememanagement.plist
